<% provide(:title, @user.name) %>
<%=gravatar_for @user %>

<h1>SHOW</h1>

<div class="center">
    nom de l'util: <%= @user.name %><br>
    email de l'util: <%= @user.email %>

    <div class="center col-md-8 post">
        <br/>

        <% if @user.microposts.any? %>
            <h3>microposts (<%= @user.microposts.count %>)</h3>
            <%= will_paginate @microposts %>
            <br/>

            <ol class="center microposts">
                <%= render @microposts %>
            </ol>
            
            <%= will_paginate @microposts %>
        <% end %>

    </div>

</div>
